sandbox/
scraper/__pycache__
mergers/__pycache__
mergers/merger_2018/__pycache__
mergers/merger_2022/__pycache__


# Ignore SQLite database files
data/*.db
data/*.db-shm
data/*.db-wal
data/*.sqlite
data/2022_reviews/*
data/2022_reviews/